body {
  margin: 0;
}

.game-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-container {
  display: grid;
  justify-content: center;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: black;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  transition: all 1s linear;
  height: 200px;
  width: 200px;
  background: white;
}

.tile.winner {
  color: red;
  text-shadow: 0 0 20px blue;
}

.tile.draw {
  background-color: black;
  border-color: white;
  color: white;
  text-shadow: 0 0 20px blue;
}
