body {
  margin: 0;
}

.game-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  transition: all 1s linear;
}

.tile:nth-child(3n + 1),
.tile:nth-child(3n + 2) {
  border-right: 2px solid black;
}

.tile:nth-child(n + 1),
.tile:nth-child(n + 2) {
  border-bottom: 2px solid black;
}

.tile:nth-child(n + 7) {
  border-bottom: none;
}

.tile.winner {
  color: red;
  text-shadow: 0 0 20px blue;
}

.tile.draw {
  background-color: black;
  border-color: white;
  color: white;
  text-shadow: 0 0 20px blue;
}
