.game-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
}

.board-container {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.tile {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

.tile.winner {
  background-color: pink;
  color: green;
}
